@font-face {
  font-family: 'SBAggroL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'SBAggroL';
}
